footer {
  a {
    text-decoration: none;
  }

  .footer-content {
    max-width: var(--grid-container-width);
    margin: 48px auto;
    font-size: 14px;
  }

  .section-legal ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .section-copyright p {
    margin: 0;
  }

  .section {
    .default-content {
      max-width: initial;
      margin: initial;
    }
  }

  .easter-images {
    position: relative;
    height: 100px;
    margin-top: 20px;
    overflow: hidden;
    pointer-events: none;
  }

  .easter-eggs-left {
    position: absolute;
    bottom: -5px;
    left: 20px;
    width: 120px;
    height: auto;
    z-index: 10;
  }

  .easter-eggs-center {
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: auto;
    z-index: 10;
  }

  .easter-eggs-right {
    position: absolute;
    bottom: -5px;
    right: 20px;
    width: 120px;
    height: auto;
    z-index: 10;
  }
}

@media (width >=900px) {
  footer {
    margin: 0;

    .section-legal {
      display: flex;
      justify-content: end;
      gap: var(--spacing-xl);
      margin-bottom: 24px;

      ul {
        display: flex;
        justify-content: end;
        gap: var(--spacing-xl);
      }

      li {
        margin: 0;
      }
    }

    .section-copyright {
      display: flex;
      justify-content: end;
      gap: var(--spacing-xl);
    }
  }
}